/*--------------- ESTILOS GENERALES ---------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*--------------- HEADER ---------------*/
header{
    background-color: #EAC926;
}

.nav-bar a, .login-bar a{
    text-decoration: none;
    color: black;
}