/*--------------- ESTILOS GENERALES ---------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*--------------- HEADER ---------------*/

header{
    background-color: #EAC926;
    padding: 20px;
}

.logo-header{
    max-width: 250px;
}

.copy-header{
    margin: 30px 0;
    text-align: center;
}

.hamburguer-menu{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    max-width: 45px;
    background-color: #1259c3;
    margin: auto;
    text-align: center;
    padding: 7px;
    border-radius: 5px;
}

.bottom-header-nav{
    display: none;
}

.nav-bar a, .login-bar a{
    text-decoration: none;
    color: black;
}

/*--------------- MAIN ---------------*/

main{
    width: 90%;
    margin: auto;
}

.product-article{
    margin: 10px;
    border: 1px solid red;
}

.product-image{
    width: 100%;
}

.product-details-container{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
}

.product-details-container > .product-truck-logo{
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.price{
    width: 30%;
    font-size: 1.5rem;
}

.discount{
    color: #39b54a;
    width: 70%;
    font-size: 1.3rem;
    margin-top: 10px;
}

.product-description{
    display: none;
    margin-top: 20px;
}

/*--------------- MEDIA QUERIES ---------------*/

/* TABLET */
@media(min-width: 768px){
    /* HEADER */
    .hamburguer-menu{
        display: none;
    }
    .top-header-container{
        display: flex;
        justify-content: space-between;
    }
    .copy-header{
        text-align: right;
    }
    .bottom-header-nav{
        display: flex;
        margin-top: 40px;
        justify-content: space-between;
    }
    .bottom-header-nav ul{
        list-style: none;
        display: flex;
    }
    .bottom-header-nav ul li{
        margin: 0 6px;
    }
    /* MAIN */
    .product-article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .product-description{
        display: block;
        font-weight: 100;
        color: #666;
    }
}

/*DESKTOP*/
@media (min-width: 1200px){
    .top-header-container, .bottom-header-nav{
        max-width: 1200px;
        margin: auto;
    }
    .bottom-header-nav{
        margin-top: 40px;
    }
}